.background {
    -fx-background-color: #2F2F2F;
}
.rectangle {
    -fx-background-color: #6B6D6F;
}
.pathfindingPopup {
    -fx-background-color: #6B6D6F;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-font-family: "Roboto";
}
.button {
    -fx-background-color: #0067B1;
    -fx-text-fill: white;
    -fx-font-family: "Roboto";
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 10pt;
}
.titleText {
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 28pt;
    -fx-fill: white;
}
.headerBold{
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 20pt;
    -fx-text-fill: white;
}
.alertTopBox {
    -fx-fill: #0067B1;
    -stroke: #0067B1;
    -strokeType: inside;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px !important;
    -fx-font-size: 14pt;
    -fx-text-fill: white;
}
.alertTopBoxCategoryText {
    -fx-font-size: 14pt;
    -fx-text-fill: #D1D1D1;
}
.navBar {
    -fx-background-color: #0067B1;
    -fx-text-fill: white;
    -fx-font-size: 13px;
}
.navBarLines {
    -fx-stroke: #58A0E3;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
    -fx-background-radius: 0px 0px 0px 0px;
    -fx-padding: 0px 0px 7px 0px;
}
.combo-box> {
    -fx-background-radius: 10 0 0 10;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-view .column-header {
    -fx-background-color: #2F2F2F;
}
.table-view .column-header .label {
    -fx-text-fill: white;
}
.fields {
    -fx-font-family: "Roboto";
    -fx-font-size: 12pt;
    -fx-border-color:#D1D1D1;
    -fx-text-fill: white;
    -fx-background-color: #2F2F2F;
    -fx-border-insets: -1px;
    -fx-border-radius: 10px !important;
    -fx-prompt-text-fill: white;
}
.combo-box .arrow{
    -fx-background-color:#D1D1D1;
}
.combo-box .cell {
    -fx-text-fill: #D1D1D1;
}
.clear {
    -fx-background-color: #b6000b;
    -fx-border-color: white;
    -fx-font-family: "Roboto";
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-background-radius: 13px;
    -fx-border-radius: 10px;
    -fx-pref-width: 100px;
    -fx-pref-height: 25;
    -fx-border-width: 2px;
    -fx-border-insets: -1 -1 -1 -1;
}
.back {
    -fx-background-color:white;
    -fx-border-color:#0067B1;
    -fx-font-family: "Roboto";
    -fx-font-size: 10pt;
    -fx-text-fill: #0067B1;
    -fx-background-radius: 13px;
    -fx-border-radius: 10px;
    -fx-pref-width: 100px;
    -fx-pref-height: 25;
    -fx-border-width: 2px;
    -fx-border-insets: -1 -1 -1 -1;
}