.root{
    -fx-background-color:#33343b;

}

.label{
    -fx-font-size: 12;
    -fx-font-family: "Arial Black";
    -fx-text-fill:#f1f1f1;
}
.mfx-combo-box.combo{
    -fx-background-color:#2f2f2f ;
}
.mfx-text-field:hover{
    -fx-border-color:#2f2f2f;
}



.button{
    -fx-background-color: #012d5a;
    -fx-border-color: #00508e;
    -fx-font-family:"Arial Black" ;
    -fx-padding: 15px 5px;
    -fx-text-alignment: center;
    /*-fx-font-size: 13px;*/
    -fx-border-radius:10px;
    -fx-background-radius: 10px;
    -fx-text-fill:#f1f1f1 ;
}
.button:hover{
    -fx-background-color:#00508e;
}
.text-area{
    -fx-background-color:#33343b;
    -fx-border-color:#33343b ;
    -fx-text-fill: #f1f1f1;
}
.menu-button:hover{
    -fx-background-color:#0067b1;
}
.menu-bar{
    -fx-background-color:#012d5a;

}
.menu-item{
    -fx-background-color: #012d5a;
}
#serviceRequestMenu{
    -fx-text-fill: #000000;
}

.menu-item:hover{
    -fx-background-color:#0067b1
}




