.root {
    -fx-background-color: #2F2F2F;
}
.background {
    -fx-background-color: #2F2F2F;
}
.rectangle {
    -fx-background-color: #6B6D6F;
}
.pathfindingPopup {
    -fx-background-color: #6B6D6F;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-font-family: "Roboto";
}
.button {
    -fx-background-color: #0067B1;
    -fx-text-fill: white;
    -fx-font-family: "Roboto";
}
.titleText {
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 28pt;
    -fx-fill: white;
}
.headerBold{
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 20pt;
    -fx-text-fill: white;
}
.alertTopBox {
    -fx-fill: #0067B1;
    -stroke: #0067B1;
    -strokeType: inside;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px !important;
    -fx-font-size: 14pt;
    -fx-text-fill: white;
}
.alertTopBoxCategoryText {
    -fx-font-size: 10pt;
    -fx-text-fill: #D1D1D1;
}
.navBar {
    -fx-background-color: #0067B1;
    -fx-text-fill: white;
}
.navBarLines {
    -fx-stroke: #58A0E3;
}
