.root {
    -fx-background-color: #2F2F2F;
}
.rectangle {
    -fx-background-color: #6B6D6F;
}
.pathfindingPopup {
    -fx-background-color: #6B6D6F;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-font-family: "Roboto";
}
.button {
    -fx-background-color: #0067B1;
    -fx-text-fill: white;
    -fx-font-family: "Roboto";
}
.titleText {
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 28pt;
    -fx-fill: white;
}