
.title
    /** This styles the popover title - not used at the moment,
    but might be useful in the future **/
{
    /** **/
}

.titleText
    /** This styles any title texts within the app - including the title
    at the top of the sidebar **/
{
    -fx-fill:white;
}
.titleTextNonTextObject {
    /** Mimics .titleText for elements that aren't Text elements and thus won't change with -fx-fill **/
    -fx-text-fill: white;
}

.header
    /** This styles headers - such as the titles of the sections on the service
     requests pages **/
{
    -fx-fill:white;
}

.headerBold
    /** This styles bold headers - such as the titles of the sections on the service
     requests credits page **/
{
    -fx-text-fill:white;
}

.headerBoldWhite {
    /**
    Header bold but in white
     */
    -fx-text-fill: white;
    -fx-fill: white; /*Neccessary sometimes for some reason on texts*/
}

.headerBoldTextObject
    /** Mimics .headerBold for elements that are JUST Text elements and thus won't change with -fx-text-fill **/
{
    -fx-fill:white;
}

.body
    /** This styles body text - such as the names and descriptions on the service
     requests credits page **/
{
    -fx-text-fill:white;
}

.bodyTextObject {
    /** Mimics .body for elements that are JUST Text elements and thus won't change with -fx-text-fill **/
    -fx-fill:#F1F1F1;
}

.bodyBold
    /** This styles body text - such as the names and descriptions on the service
     requests credits page **/
{
    -fx-text-fill:white;
}

.bodyBoldWhite {
    /**
    Header bold but in white
     */
    -fx-text-fill: white;
    -fx-fill: white; /*Neccessary sometimes for some reason on texts*/
}

.subtext
    /** super small - basically only used in warning text **/
{
    -fx-text-fill:white;
}

.middle
    /** honestly just if you need a text bigger than body but smaller than header **/
{
    -fx-text-fill:white;
}

.middleTextObject
    /** Mimics .middle for elements that are JUST Text elements and thus won't change with -fx-text-fill **/
{
    -fx-fill:white;
}

.middleBold
    /** honestly just if you need a text bigger than body but smaller than header and bold **/
{
    -fx-text-fill:white;
}

.blueText
    /** honestly just if you need a text bigger than body but smaller than header and bold **/
{
    -fx-text-fill:white;
}

.warningText
    /** This controls the style of the warning text that appears when the help
     button is clicked**/
{
    -fx-fill: #b6000b;
}

.backButton
    /** This is used for all back buttons within the app **/
{
    -fx-background-color:#F1F1F1;
    -fx-border-color:#012D5A;
    -fx-text-fill: #012D5A;
}

.blueOutlineNoSetSize
    /** if you need the blue outline with blue text styling with no set sizes**/
{
    -fx-background-color:transparent;
    -fx-border-color:#D1D1D1;
    -fx-text-fill: white;
}

.blueOutline
    /** This is a smaller version of the back button styling (light gray background with
     blue outline) - ex. the toggle all button on the home page.**/
{
    -fx-background-color:transparent;
    -fx-border-color:#D1D1D1;
    -fx-text-fill: white;
}

.blueBackground
    /** This is a smaller version of the credits button styling (blue background with
     white text) - ex. select files in Manage CSVs. **/
{
    -fx-background-color: #6B6D6F;
    -fx-border-color:#D1D1D1;
    -fx-text-fill: white;
}

.blueNoSetSize
    /** If you need the blue background with white text with no set size **/
{
    -fx-background-color: #6B6D6F;
    -fx-border-color:#D1D1D1;
    -fx-text-fill: white;
}

.blueNoRadius
    /** If you need the blue background with white text with no set size **/
{
    -fx-background-color: #6B6D6F;
    -fx-border-color:#D1D1D1;
    -fx-text-fill: white;
}

.blueBackgroundSideBar
    /** This is used for the sidebar buttons with blue backgrounds - ex. switch color, manage CSVs, etc. **/
{
    -fx-background-color:#012D5A;
    -fx-border-color:#012D5A;
    -fx-text-fill: #ffffff;
}

.serviceRequestButtons
    /** This is used for the sidebar buttons for service requests **/
{
    -fx-background-color:#012D5A;
    -fx-border-color:#012D5A;
    -fx-text-fill: #ffffff;
}

.fields
    /** This controls input fields within the app - such as the service requests
    fields and the csv parser inputs **/
{
    -fx-border-color:#D1D1D1;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-prompt-text-fill: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.editUserFields
    /** This controls input fields within the edit user popup only **/
{
    -fx-border-color:#D1D1D1;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-prompt-text-opacity: 50%;
    -fx-prompt-text-fill: white;
}

.date-picker
    /** controls all date picker fields within the app **/
{
    -fx-text-fill: white;
}
.date-picker > .text-field
    /** controls all date picker fields within the app **/
{
    -fx-prompt-text-fill: white;
    -fx-control-inner-background: transparent;
    -fx-control-background: transparent;
    -fx-background-color: -fx-control-inner-background;

}

.date-picker > .arrow-button
    /** controls all date picker fields within the app **/
{
}

.searchable-combo-box
    /** controls all searchable combo boxes within the app **/
{
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-context-menu-enabled: #012D5A;
    -fx-control-inner-background: #6B6D6F;
}

.searchable-combo-box .combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: #012D5A;
    -fx-text-fill: white;
}

.searchable-combo-box .list-cell {
    -fx-text-background-color: #012D5a;
}

.searchable-combo-box .combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #F6Bd38;
    -fx-text-fill: white;
    -fx-text-background-color: #ffffff;
    -fx-background: #F6Bd38;
}

.combo-box> .text-field
    /** controls all searchable combo boxes within the app **/
{
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

.combo-box-base .text
    /** controls all searchable combo boxes within the app **/
{
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-text-inner-color: white;
}

.combo-box .text-field:focused
    /** controls all searchable combo boxes within the app **/
{
    -fx-prompt-text-fill: transparent ;
}

.combo-box .arrow
    /** controls all searchable combo boxes within the app **/
{
    -fx-background-color:#D1D1D1;
}

.combo-box .cell
    /** controls all searchable combo boxes within the app **/
{
    -fx-text-fill: white;
}

.combo-box-popup .list-cell {
    -fx-background-color: #6B6D6F;
    -fx-text-fill: white;
}

.submitButton
    /** This is used for the submit buttons on the service requests pages **/
{
    -fx-background-color:#012D5A;
    -fx-border-color:#012D5A;
    -fx-text-fill: #ffffff;
}

.clearButton
    /** sets the clear button on the service requests page **/
{
    -fx-background-color: #b6000b;
    -fx-border-color:white;
    -fx-text-fill: white;
}

.redOutlineNoSetSize
    /** if you need the styling of a clear or exit style button with
     no set size**/
{
    -fx-background-color: #b6000b;
    -fx-border-color:white;
    -fx-text-fill: white;
}

.cancelButton
    /** This is similar styling to the clear buttons in the service requests
     but it is a bigger button - ex. cancel button Manage CSVs **/
{
    -fx-background-color: #b6000b;
    -fx-border-color:white;
    -fx-text-fill: white;
}

.bar
    /** This sets the color of the dividing bar on the service requests page **/
{
    -fx-fill:#6B6D6F;
    -fx-stroke: #6B6D6F;
}

.sidebar
    /** This sets the sidebar on all of the pages **/
{
    -fx-background-color: #3F3F3F !important;
}

.sidebar-color {
    /** Sidebar background color for non-sized elements */
    -fx-background-color: #3F4F4F !important;
}

.background
    /** sets the background color throughout the app **/
{
    -fx-background-color:#2F2F2F;
}

.navBar
    /** sets the style of the nav bar **/
{
    -fx-background-color: #012D5A;
    -fx-text-fill: white;
}

.yellowNav {
    -fx-fill: #F6BD38;
    -fx-font-family: "Roboto";
    -fx-border-color: transparent !important;
    -fx-font-weight: bold !important;
}

.navSlide {
    -fx-fill: #f1f1f1;
    -fx-font-family: "Roboto";
    -fx-font-weight: normal !important;
}

.navBarLines
    /** sets the style of the line in between the buttons on the nav bar **/
{
    -fx-stroke: #34587a;
}

.button:hover {
    -fx-background-color: #d1d1d1;
    -fx-text-fill: black;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
}

.menu-button .arrow-button
    /** controls the background of the arrow next to the current employee name **/
{
    -fx-background-color:#012D5A;
    -fx-border-color: #012D5A;
}

.menu-button .arrow
    /** controls the color of the arrow next to the current employee name **/
{
    -fx-background-color: #ffffff;
    -fx-control-inner-background: #012D5A;
}

.menu-button .label
    /** controls current employee name text color and the background color **/
{
    -fx-background-color: #012D5A;
    -fx-border-color: #012D5A;
    -fx-text-fill: #ffffff;
}


.menu-button:hover .label {
    -fx-text-fill: #F6BD38;
}

.menu-button:hover .arrow {
    -fx-background-color: #F6BD38;
}

.menu-item .label
    /** This controls the color of the text within the menu-items when they are not hovered over **/
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #012D5A !important;
}
.menu-item:focused
    /** This controls the background color of the menu-item when it is hovered over **/
{
    -fx-background-color: #F6BD38;
}

.menu-item:focused .label
    /** this controls the text color of the menu-item when it is hovered over **/
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #000000;
}

.table-view .column-header-background
    /** controls the blue line in the tables above the table entries **/
{
    -fx-background-color: #012d5a;
}

.table-view .table-cell
    /** controls table views within the app - not hover **/
{
    -fx-border-color: transparent;
}
.table-view .column-header
    /** controls table views within the app - not hover **/
{
    -fx-background-color: #2F2F2F;
}
.table-view .column-header .label
    /** controls table views within the app - not hover **/
{
    -fx-text-fill: white;
    -fx-alignment: center-left;
}

.table-row-cell
    /** controls table views within the app - not hover **/
{
    -fx-background-color: #6B6D6F;
    -fx-background: #6B6D6F;
    -fx-text-background-color: white;
    -fx-text-fill: white;
}

.table-row-cell:hover
    /** controls table views within the app - hover **/
{
    -fx-background-color: #F6BD38;
    -fx-text-background-color: #012D5a;
    -fx-background: #F6BD38;

}

.table-row-cell:selected
    /** controls the cells when they are hovered over in table views **/
{
    -fx-background-color: #012d5a;
    -fx-text-background-color: #ffffff;
    -fx-background: #012d5a;
}


.alertTopBox
    /** controls the top box with the title of the alert in the alert side bar **/
{
    -fx-fill: #012D5A;
    -stroke: #012D5A;
    -fx-text-fill: white;
}

.alertBottomBox
    /** controls the bottom box within the alert **/
{
    -fx-fill: #2F2F2F;
    -fx-background-color: #2F2F2F;
    -fx-text-fill: white;
}

.alertBottomBox .label {
    /** controls the author and date text within the alert **/
    -fx-text-fill: white;
}

.alertText
    /** controls the text area within the alertBottomBox **/
{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-box-border: transparent;
    -fx-background-color: #2F2F2F;
    -fx-control-inner-background: #2F2F2F;
    -fx-text-fill: white;
}

.alertBar
    /** controls the bar within the alert (the one that separates the name and date from
    the rest of the text) **/
{
    -fx-stroke: #6B6D6F;
}

.pathfindingPopup
    /** controls the styling of the path finding popup on the login and home pages **/
{
    -fx-background-color: #6B6D6F;
    -fx-text-fill: white;
}

.check-box
{
    -fx-text-fill: white;
    -fx-fill: white;
}

.check-box .box
{
    -fx-border-color: white;
}

.check-box:selected .mark
{
    -fx-fill: white;
}

.pathfindingField {
    /** This controls the input field for controlling what labels to show in the upper right corner of Pathfinding **/
    -fx-border-color:#D1D1D1;
    -fx-text-fill: white;
    -fx-background-color: #6B6D6F;
    -fx-prompt-text-fill: white;
}

.text-area:focused .content {
    -fx-border-color: transparent;
    -fx-background-color:  #2F2F2F;
}

.text-area .content {
    -fx-border-color: transparent;
}

.yellow {
    /**
    Yellow color, used for background coloring on the map visualizer page
     */
    -fx-fill: #F6BD38;
    -fx-background-color: #F6BD38;
}

.scroll-pane {
    /** Right now, only used on acknowledgementsPage as a placeholder **/
    -fx-background-color: transparent;
}
.scroll-pane > .viewport {
    /** Right now, only used on acknowledgementsPage as a placeholder **/
    -fx-background-color: transparent;
}
.srText
{
    -fx-fill:white;
}

.axis {
    -fx-tick-label-fill: white;
}
