
.title
    /** This styles the popover title - not used at the moment,
    but might be useful in the future **/
{
    /** **/
}

.titleText
    /** This styles any title texts within the app - including the title
    at the top of the sidebar **/
{
    -fx-fill:#000000;
}

.header
    /** This styles headers - such as the titles of the sections on the service
     requests pages **/
{
    -fx-fill:#000000;
}

.headerBold
    /** This styles bold headers - such as the titles of the sections on the service
     requests credits page **/
{
    -fx-text-fill:#000000;
}

.body
    /** This styles body text - such as the names and descriptions on the service
     requests credits page **/
{
    -fx-text-fill:#000000;
}

.bodyBold
    /** This styles body text - such as the names and descriptions on the service
     requests credits page **/
{
    -fx-text-fill:#000000;
}

.subtext
    /** super small - basically only used in warning text **/
{
    -fx-text-fill:#000000;
}

.middle
    /** honestly just if you need a text bigger than body but smaller than header **/
{
    -fx-text-fill:#000000;
}

.middleBold
    /** honestly just if you need a text bigger than body but smaller than header and bold **/
{
    -fx-text-fill:#000000;
}

.warningText
    /** This controls the style of the warning text that appears when the help
     button is clicked**/
{
    -fx-text-fill: #b6000b;
}

.backButton
    /** This is used for all back buttons within the app **/
{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
    -fx-background-color:transparent;
    -fx-border-color:#012D5A;
    -fx-text-fill: #012D5A;
}

.blueOutlineNoSetSize
    /** if you need the blue outline with blue text styling with no set sizes **/
{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
    -fx-background-color:transparent;
    -fx-border-color:#012D5A;
    -fx-text-fill: #012D5A;
}

.blueOutline
    /** This is a smaller version of the back button styling (transparent background with
     blue outline) - ex. the toggle all button on the home page **/
{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
    -fx-background-color: transparent;
    -fx-border-color:#012D5A;
    -fx-text-fill: #012D5A;
}

.blueBackground
    /** This is a smaller version of the credits button styling (blue background with
     white text) - ex. select files in Manage CSVs  **/
{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
    -fx-background-color: #012D5A;
    -fx-border-color:#012D5A;
    -fx-text-fill: #ffffff;
}

.blueNoSetSize
    /** If you need the blue background with white text with no set size **/
{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
    -fx-background-color: #012D5A;
    -fx-border-color:#012D5A;
    -fx-text-fill: #ffffff;
}

.blueBackgroundSideBar
    /** This is used for the sidebar buttons with blue backgrounds - ex. switch color, manage CSVs, etc. **/
{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
    -fx-background-color:#012D5A;
    -fx-border-color:#012D5A;
    -fx-text-fill: #ffffff;
}

.serviceRequestButtons
    /** This is used for the sidebar buttons for service requests **/
{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
    -fx-background-color:#012D5A;
    -fx-border-color:#012D5A;
    -fx-text-fill: #ffffff;
}

.fields
    /** This controls input fields within the app - such as the service requests
    fields and the csv parser inputs **/
{
    -fx-border-color:#012D5A;
    -fx-text-fill: #012D5A;
    -fx-background-color: transparent;
    -fx-prompt-text-fill: #012D5A;
}

.date-picker
    /** controls all date picker fields within the app **/
{
    -fx-text-fill: #012D5A;
}
.date-picker > .text-field
    /** controls all date picker fields within the app **/
{
    -fx-prompt-text-fill: #012D5A;
    -fx-control-inner-background: #f1f1f1 ;
    -fx-control-background: #f1f1f1 ;
}

.date-picker > .arrow-button
    /** controls all date picker fields within the app **/
{
}

.searchable-combo-box>
    /** controls all searchable combo boxes within the app **/
{
    -fx-prompt-text-fill: #012D5A;
    -fx-text-fill: #012D5A;
    -fx-context-menu-enabled: #012D5A;

}

.combo-box> .text-field
    /** controls all searchable combo boxes within the app **/
{
    -fx-text-fill: #012D5A;
    -fx-prompt-text-fill: #012D5A;
}

.combo-box-base .text
    /** controls all searchable combo boxes within the app **/
{
    -fx-text-fill: #012D5A;
    -fx-prompt-text-fill: #012D5A;
    -fx-text-inner-color: #012D5A;
}

.combo-box .text-field:focused
    /** controls all searchable combo boxes within the app **/
{
    -fx-prompt-text-fill: transparent ;
}

.combo-box .arrow
    /** controls all searchable combo boxes within the app **/
{
    -fx-background-color:#012D5A;
}

.combo-box .cell
    /** controls all searchable combo boxes within the app **/
{
    -fx-text-fill: #012D5A;
}

.submitButton
    /** This is used for the submit buttons on the service requests pages **/
{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
    -fx-background-color:#012D5A;
    -fx-border-color:#012D5A;
    -fx-text-fill: #ffffff;
}

.clearButton
    /** sets the clear button on the service requests page **/
{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
    -fx-background-color: transparent;
    -fx-border-color:#b6000b;
    -fx-text-fill: #b6000b;
}

.redOutlineNoSetSize
    /** if you need the styling of a clear or exit style button with
     no set size**/
{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
    -fx-background-color: transparent;
    -fx-border-color:#b6000b;
    -fx-text-fill: #b6000b;
}

.cancelButton
    /** This is similar styling to the clear buttons in the service requests
     but it is a bigger button - ex. cancel button Manage CSVs **/
{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
    -fx-background-color: #f1f1f1;
    -fx-border-color:#b6000b;
    -fx-text-fill: #b6000b;
}

.bar
    /** This sets the color of the dividing bar on the service requests page **/
{
    -fx-fill:#012D5A;
    -fx-stroke: #012D5A;
}

.sidebar
    /** This sets the sidebar on all of the pages **/
{
    -fx-background-color: #d1d1d1 !important;
}

.background
    /** sets the background color throughout the app **/
{
    -fx-background-color:#f1f1f1;
}

.navBar
    /** sets the style of the nav bar **/
{
    -fx-background-color: #012d5a;
    -fx-text-fill: white;
}
.navBarLines
    /** sets the style of the line in between the buttons on the nav bar **/
{
    -fx-stroke: #34587a;
}

.menu-button .arrow-button
    /** controls the background of the arrow next to the current employee name **/
{
    -fx-background-color:#012D5A;
    -fx-border-color: #012D5A;
}

.menu-button .arrow
    /** controls the color of the arrow next to the current employee name **/
{
    -fx-background-color: #ffffff;
    -fx-control-inner-background: #012D5A;
}

.menu-button .label
    /** controls current employee name text color and the background color **/
{
    -fx-background-color: #012D5A;
    -fx-border-color: #012D5A;
    -fx-text-fill: #ffffff;
}

.menu-item .label
    /** This controls the color of the text within the menu-items when they are not hovered over **/
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #012D5A;
}
.menu-item:focused
    /** This controls the background color of the menu-item when it is hovered over **/
{
    -fx-background-color: #F6BD38;
}

.menu-item:focused .label
    /** this controls the text color of the menu-item when it is hovered over **/
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #000000;
}

.table-view .column-header-background
    /** controls the blue line in the tables above the table entries **/
{
    -fx-background-color: #012d5a;
}

.table-view .table-cell
    /** controls table views within the app - not hover **/
{
    -fx-border-color: transparent;
}
.table-view .column-header
    /** controls table views within the app - not hover **/
{
    -fx-background-color: #f1f1f1;
}

.table-row-cell
    /** controls table views within the app - not hover **/
{
    -fx-background-color: #f1f1f1;
    -fx-text-background-color: #012d5a;
    -fx-text-fill: #012d5a;
}

.table-row-cell:hover
    /** controls table views within the app - hover **/
{
    -fx-background-color: #012d5a;
    -fx-text-background-color: #ffffff;
    -fx-text-fill: #ffffff;
}

.table-row-cell:selected {
    -fx-background-color: #012d5a;
    -fx-text-background-color: #ffffff;
    -fx-text-fill: #ffffff;
}


.alertTopBox
    /** controls the top box with the title of the alert in the alert side bar **/
{
    -fx-fill: #012d5a;
    -stroke: #012d5a;
    -fx-text-fill: white;
}

.alertBottomBox
    /** controls the bottom box within the alert **/
{
    -fx-fill: #f1f1f1;
    -fx-background-color: #f1f1f1;
}

.alertText
    /** controls the text area within the alertBottomBox **/
{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-box-border: transparent;
    -fx-background-color: #f1f1f1;
    -fx-control-inner-background: #f1f1f1;
}

.alertBar
    /** controls the bar within the alert (the one that separates the name and date from
    the rest of the text) **/
{
    -fx-stroke: #000000;
}

.pathfindingPopup
    /** controls the styling of the path finding popup on the login and home pages **/
{
    -fx-background-color: #6B6D6F;
    -fx-text-fill: white;
}

