
.title
    /** This styles the popover title - not used at the moment,
    but might be useful in the future **/
{
    /** **/
}

.titleText
    /** This styles any title texts within the app - including the title
    at the top of the sidebar **/
{
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 28pt;
}

.header
    /** This styles headers - such as the titles of the sections on the service
     requests pages **/
{
    -fx-font-family: "Roboto Light";
    -fx-font-size: 20pt;
}

.headerBold
    /** This styles bold headers - such as the titles of the sections on the service
     requests credits page **/
{
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 20pt;
}

.body
    /** This styles body text - such as the names and descriptions on the service
     requests credits page **/
{
    -fx-font-family: "Roboto Light";
    -fx-font-size: 10pt;
}

.bodyBold
    /** This styles body text - such as the names and descriptions on the service
     requests credits page **/
{
    -fx-font-family: "Roboto";
    -fx-font-size: 10pt;
}

.subtext
    /** super small - basically only used in warning text **/
{
    -fx-font-family: "Roboto Light";
    -fx-font-size: 8pt;
}

.middle
    /** honestly just if you need a text bigger than body but smaller than header **/
{
    -fx-font-family: "Roboto Light";
    -fx-font-size: 14pt;
}

.middleBold
    /** honestly just if you need a text bigger than body but smaller than header and bold **/
{
    -fx-font-family: "Roboto";
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}

.warningText
    /** This controls the style of the warning text that appears when the help
     button is clicked**/
{
    -fx-font-family: "Roboto Light";
    -fx-font-size: 8pt;
}

.backButton
    /** This is used for all back buttons within the app **/
{
    -fx-background-radius: 10px !important;
    -fx-border-radius: 10px !important;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 10pt;
    -fx-pref-width: 184px;
    -fx-pref-height: 25px;
}

.blueOutlineNoSetSize
    /** if you need the blue outline with blue text styling with no set sizes **/
{
    -fx-background-radius: 10px !important;
    -fx-border-radius: 10px !important;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 10pt;
}

.blueOutline
    /** This is a smaller version of the back button styling (transparent background with
     blue outline) - ex. the toggle all button on the home page **/
{
    -fx-background-radius: 10px !important;
    -fx-border-radius: 10px !important;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 10pt;
    -fx-pref-width: 150px;
    -fx-pref-height: 25px;
}

.blueBackground
    /** This is a smaller version of the credits button styling (blue background with
     white text) - ex. select files in Manage CSVs  **/
{
    -fx-background-radius: 10px !important;
    -fx-border-radius: 10px !important;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 10pt;
    -fx-pref-width: 150px;
    -fx-pref-height: 25px;
}

.blueNoSetSize
    /** If you need the blue background with white text with no set size **/
{
    -fx-background-radius: 10px !important;
    -fx-border-radius: 10px !important;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 10pt;
}

.blueBackgroundSideBar
    /** This is used for the sidebar buttons with blue backgrounds - ex. switch color, manage CSVs, etc. **/
{
    -fx-background-radius: 10px !important;
    -fx-border-radius: 10px !important;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 10pt;
    -fx-pref-width: 184px;
    -fx-pref-height: 25px;
}

.serviceRequestButtons
    /** This is used for the sidebar buttons for service requests **/
{
    -fx-background-radius: 10px !important;
    -fx-border-radius: 10px !important;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 10pt;
    -fx-pref-width: 184px;
    -fx-pref-height: 75px;
    -fx-text-alignment: Baseline Left;
}

.fields
    /** This controls input fields within the app - such as the service requests
    fields and the csv parser inputs **/
{
    -fx-border-radius: 10px !important;
    -fx-background-radius: 10px !important;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 12pt;
    -fx-border-insets: -1px;
    -fx-font-weight: normal;
    /** -fx-pref-width: 200px; (not sure if we want to set width and height in here) **/
    /** -fx-pref-height: 26px; **/
}

.date-picker
    /** controls all date picker fields within the app **/
{
    -fx-background-radius: 10 10 10 10;
}
.date-picker > .text-field
    /** controls all date picker fields within the app **/
{
    -fx-background-radius: 10 0 0 10;
}

.date-picker > .arrow-button
    /** controls all date picker fields within the app **/
{
    -fx-background-radius: 0 10 10 0;
}

.searchable-combo-box>
    /** controls all searchable combo boxes within the app **/
{
    -fx-background-radius: 10 10 10 10;

}

.combo-box> .text-field
    /** controls all searchable combo boxes within the app **/
{
    -fx-background-radius: 10 10 10 10;
}

.combo-box-base .text
    /** controls all searchable combo boxes within the app **/
{
}

.combo-box .text-field:focused
    /** controls all searchable combo boxes within the app **/
{
}

.combo-box .arrow
    /** controls all searchable combo boxes within the app **/
{
}

.combo-box .cell
    /** controls all searchable combo boxes within the app **/
{
}

.submitButton
    /** This is used for the submit buttons on the service requests pages **/
{
    -fx-background-radius: 10px !important;
    -fx-border-radius: 10px !important;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 10pt;
    -fx-pref-width: 100px;
    -fx-pref-height: 25px;
}

.clearButton
    /** sets the clear button on the service requests page **/
{
    -fx-background-radius: 10px !important;
    -fx-border-radius: 10px !important;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 10pt;
    -fx-pref-width: 100px;
    -fx-pref-height: 25px;
}

.redOutlineNoSetSize
    /** if you need the styling of a clear or exit style button with
     no set size**/
{
    -fx-background-radius: 10px !important;
    -fx-border-radius: 10px !important;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 10pt;
}

.cancelButton
    /** This is similar styling to the clear buttons in the service requests
     but it is a bigger button - ex. cancel button Manage CSVs **/
{
    -fx-background-radius: 10px !important;
    -fx-border-radius: 10px !important;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 10pt;
    -fx-pref-width: 150px;
    -fx-pref-height: 25;
}

.bar
    /** This sets the color of the dividing bar on the service requests page **/
{
}

.sidebar
    /** This sets the sidebar on all of the pages **/
{
    -fx-pref-width: 220px
}

.background
    /** sets the background color throughout the app **/
{
}

.navBar
    /** sets the style of the nav bar **/
{
    -fx-font-size: 13px;
    -fx-border-insets: -1px;
}
.navBarLines
    /** sets the style of the line in between the buttons on the nav bar **/
{
}

.menu-button .arrow-button
    /** controls the background of the arrow next to the current employee name **/
{
    -fx-border-insets: -1px;
}

.menu-button .arrow
    /** controls the color of the arrow next to the current employee name **/
{
}

.menu-button .label
    /** controls current employee name text color and the background color **/
{
    -fx-border-insets: -1px;
    -fx-font-size: 13px;
}

.menu-item .label
    /** This controls the color of the text within the menu-items when they are not hovered over **/
{
}
.menu-item:focused
    /** This controls the background color of the menu-item when it is hovered over **/
{
    -fx-border-insets: -1px;
}

.menu-item:focused .label
    /** this controls the text color of the menu-item when it is hovered over **/
{
}

.table-view .column-header-background
    /** controls the blue line in the tables above the table entries **/
{
    -fx-background-radius: 0px 0px 0px 0px;
    -fx-padding: 0px 0px 7px 0px;
}

.table-view .table-cell
    /** controls table views within the app - not hover **/
{
    -fx-padding: 2 0 2 10px;
}
.table-view .column-header
    /** controls table views within the app - not hover **/
{
}

.table-row-cell
    /** controls table views within the app - not hover **/
{
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:hover
    /** controls table views within the app - hover **/
{
}

.table-row-cell:selected {
}


.alertTopBox
    /** controls the top box with the title of the alert in the alert side bar **/
{
    -strokeType: inside;
    -fx-background-radius: 10px, 10px, 0px, 0px;
    -fx-border-radius: 10px, 10px, 0px, 0px;
}

.alertBottomBox
    /** controls the bottom box within the alert **/
{
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.alertText
    /** controls the text area within the alertBottomBox **/
{
    -fx-background-radius: 0px;
}

.alertText .content
{
    -fx-background-radius: 0px;
}

.alertBar
    /** controls the bar within the alert (the one that separates the name and date from
    the rest of the text) **/
{
}

.pathfindingPopup
    /** controls the styling of the path finding popup on the login and home pages **/
{
    -fx-font-size: 16;
    -fx-font-family: "Roboto Light";
}

