@font-face {
    src: url("FontsFree-Net-Inter-Bold.ttf");
}

.text-area
{
    -fx-font-family: "Inter";
}

.text-field
{
    -fx-font-family: "Inter";
}

.b1
{
    -fx-border-radius: 10px;
    -fx-background-color:#012D5A;
    -fx-border-color:#012D5A;
    -fx-font-family: "Inter Black";
    -fx-text-fill: #ffffff;
    -fx-font-size: 16pt;

}

.b2
{
    -fx-border-radius: 10px;
    -fx-background-color:#f1f1f1;
    -fx-border-color:#B6000B;
    -fx-font-family: "Inter";
    -fx-text-fill: #B6000B;
    -fx-font-size: 16pt;

}

.back
{
    -fx-border-radius: 10px;
    -fx-background-color:#f1f1f1;
    -fx-border-color:#012D5A;
    -fx-font-family: "Inter";
    -fx-text-fill: #012D5A;
    -fx-font-size: 16pt;
    -fx-pref-width: 100px;


}

.background
{
    -fx-background-color:#f1f1f1;
}

.round
{
    -fx-background-radius: 10px;
    -fx-border-radius: 10px !important;
}

/*.inter
{
    -fx-font-family: "Inter";
}*/

/*.titleSize
{
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}*/

.serviceRequestButtons
{
    -fx-border-radius: 10px;
    -fx-background-color:#012D5A;
    -fx-border-color:#012D5A;
    -fx-font-family: "Roboto Light ";
    -fx-text-fill: #ffffff;
    -fx-font-size: 16pt;
    -fx-pref-height: 75px;
    -fx-pref-width: 184px;
    -fx-text-alignment: left !important;
    -fx-font-family: "Roboto";
    -fx-font-size: 16pt;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px !important;
}

.credits
{
    -fx-border-radius: 10px;
    -fx-background-color:#012D5A;
    -fx-border-color:#012D5A;
    -fx-font-family: "Roboto Light ";
    -fx-text-fill: #ffffff;
    -fx-font-size: 16pt;
    -fx-pref-width: 100px;

}

.rectangle
{
    -fx-background-color: #d1d1d1 !important;
}

.title{
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 28pt;
}



.headerBold{
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 20pt;
}

.header{
    -fx-font-family: "Roboto";
    -fx-font-size: 20pt;
}

.body{
    -fx-font-family: "Roboto";
    -fx-font-size: 16pt;
}

.subtext{
    -fx-font-family: "Roboto";
    -fx-font-size: 8pt;
}

.middle{
    -fx-font-family: "Roboto";
    -fx-font-size: 12pt;
}

.warning {
    -fx-font-family: "Roboto";
    -fx-font-size: 8pt;
    -fx-text-fill: #b6000b;
}

.fields{
    -fx-font-family: "Roboto";
    -fx-font-size: 12pt;
    -fx-border-color:#012D5A;
    -fx-text-fill: #012D5A;
    -fx-background-color: #f1f1f1;
    -fx-border-insets: -1px;
    -fx-border-radius: 10px !important;
    -fx-prompt-text-fill: #012D5A;
}

.clear{
    -fx-background-color: #f1f1f1;
    -fx-border-color:#b6000b;
    -fx-font-family: "Roboto";
    -fx-font-size: 16pt;
    -fx-text-fill: #b6000b;
    -fx-background-radius: 10px;
    -fx-text-innercolor: #b6000b;
    -fx-border-radius: 10px;
    -fx-pref-width: 100px;
    -fx-pref-height: 25;
}

.date-picker {
    -fx-background-radius: 10 10 10 10;
}
.date-picker > .text-field {
    -fx-background-radius: 10 0 0 10;
    -fx-prompt-text-fill: #012D5A;
    -fx-control-inner-background: #f1f1f1 ;
    -fx-control-background: #f1f1f1 ;
}

.date-picker > .arrow-button {
    -fx-background-radius: 0 10 10 0;
}


.searchable-combo-box> {
    -fx-background-radius: 10 0 0 10;
    -fx-prompt-text-fill: #012D5A;
    -fx-text-fill: #012D5A;
    -fx-context-menu-enabled: #012D5A;

}

.combo-box> .text-field {
    -fx-background-radius: 0 10 10 0;
    -fx-text-fill: #012D5A;
    -fx-prompt-text-fill: #012D5A;
}

.combo-box-base .text
{
    -fx-text-fill: #012D5A;
    -fx-prompt-text-fill: #012D5A;
    -fx-text-inner-color: #012D5A;
}

.combo-box .text-field:focused {
    -fx-prompt-text-fill: transparent ;
}

.combo-box .arrow{
    -fx-background-color:#012D5A;
}

.combo-box .cell {

    -fx-text-fill: #012D5A;
}

.table-view .column-header-background{
    -fx-background-color: #012d5a;

    -fx-padding: 0 0 5px 0;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-view .column-header {
    -fx-background-color: #f1f1f1;
}

.table-row-cell{
    -fx-background-color: #f1f1f1;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-background-color: #f1f1f1;
    -fx-font-family: "Arial Black";
}

.table-row-cell:hover {
    -fx-background-color: #012d5a;
    -fx-text-background-color: #012d5a;
    -fx-text-fill: #ffffff;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: #012d5a;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: #012d5a;
}